<a href="https://colab.research.google.com/github/SusiWahyuningrum/Basic-Python-Programming-for-Data-Science/blob/main/Susi_Wahyuningrum_1800015072_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan



---

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

##1. Tentukan Segment mana dengan profit tertinggi!

In [ ]:
df1=df[df['segment']=='Consumer']
df1

            order_id  order_date customer_id  ...     sales quantity    profit
0     CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1     CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
3     US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4     US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164
5     CA-2014-115812    6/9/2014    BH-11710  ...   48.8600        7   14.1694
...              ...         ...         ...  ...       ...      ...       ...
9983  CA-2014-110422   1/21/2014    TB-21400  ...   25.2480        3    4.1028
9984  CA-2017-121258   2/26/2017    DB-13060  ...   91.9600        2   15.6332
9985  CA-2017-121258   2/26/2017    DB-13060  ...  258.5760        2   19.3932
9986  CA-2017-121258   2/26/2017    DB-13060  ...   29.6000        4   13.3200
9987  CA-2017-119914    5/4/2017    CC-12220  ...  243.1600        2   72.9480

[5188 rows x 9 columns]

In [ ]:
df2=df[df['segment']=='Corporate']
df2

            order_id  order_date customer_id  ...     sales quantity    profit
2     CA-2016-138688   6/12/2016    DV-13045  ...    14.620        2    6.8714
21    CA-2016-137330   12/9/2016    KB-16585  ...    19.460        7    5.0596
22    CA-2016-137330   12/9/2016    KB-16585  ...    60.340        7   15.6884
35    CA-2016-117590   12/8/2016    GH-14485  ...  1097.544        7  123.4737
36    CA-2016-117590   12/8/2016    GH-14485  ...   190.920        5 -147.9630
...              ...         ...         ...  ...       ...      ...       ...
9958  CA-2016-146374   12/5/2016    HE-14800  ...    13.400        1    6.4320
9959  CA-2016-146374   12/5/2016    HE-14800  ...     4.980        1    2.3406
9960  CA-2016-146374   12/5/2016    HE-14800  ...   109.690        7   51.5543
9981  CA-2017-163629  11/17/2017    RA-19885  ...    79.990        1   28.7964
9982  CA-2017-163629  11/17/2017    RA-19885  ...   206.100        5   55.6470

[3019 rows x 9 columns]

In [ ]:
df3=df[df['segment']=='Home Office']
df3

            order_id  order_date customer_id  ...     sales quantity    profit
14    US-2015-118983  11/22/2015    HP-14815  ...   68.8100        5 -123.8580
15    US-2015-118983  11/22/2015    HP-14815  ...    2.5440        3   -3.8160
34    CA-2017-107727  10/19/2017    MA-17560  ...   29.4720        3    9.9468
37    CA-2015-117415  12/27/2015    SN-20710  ...  113.3280        9   35.4150
38    CA-2015-117415  12/27/2015    SN-20710  ...  532.3992        3  -46.9764
...              ...         ...         ...  ...       ...      ...       ...
9969  US-2016-103674   12/6/2016    AP-10720  ...   13.3600        2    6.4128
9970  US-2016-103674   12/6/2016    AP-10720  ...  249.5840        2   31.1980
9971  US-2016-103674   12/6/2016    AP-10720  ...   13.8600        7    0.0000
9972  US-2016-103674   12/6/2016    AP-10720  ...   13.3760        4    4.6816
9973  US-2016-103674   12/6/2016    AP-10720  ...  437.4720       14  153.1152

[1781 rows x 9 columns]

In [ ]:
x = df1.profit.sum()
y = df2.profit.sum()
z = df3.profit.sum()
print('Consumer :',x)
print('Corporate :',y)
print('Home Office :',z)
if z<y<x :
  print('Segment Consumer adalah profit tertinggi sebesar:',x)
elif z<x<y :
  print('Segment Corporate adalah profit tertinggi sebesar:',y)
else :
  print('Segment Home Office adalah profit tertinggi sebesar:',z)

Consumer : 128959.22080000001
Corporate : 83579.158
Home Office : 58189.7681
Segment Consumer adalah profit tertinggi sebesar: 128959.22080000001

##2.Tentukan Category mana dengan sales terbanyak!

In [ ]:
df4=df[df['category']=='Office Supplies']
df4

            order_id  order_date customer_id  ...    sales quantity   profit
2     CA-2016-138688   6/12/2016    DV-13045  ...   14.620        2   6.8714
4     US-2015-108966  10/11/2015    SO-20335  ...   22.368        2   2.5164
6     CA-2014-115812    6/9/2014    BH-11710  ...    7.280        4   1.9656
8     CA-2014-115812    6/9/2014    BH-11710  ...   18.504        3   5.7825
9     CA-2014-115812    6/9/2014    BH-11710  ...  114.900        5  34.4700
...              ...         ...         ...  ...      ...      ...      ...
9976  US-2016-157728   9/22/2016    RC-19960  ...   35.560        7  16.7132
9978  CA-2015-100251   5/17/2015    DV-13465  ...   31.500       10  15.1200
9979  CA-2015-100251   5/17/2015    DV-13465  ...   55.600        4  16.1240
9986  CA-2017-121258   2/26/2017    DB-13060  ...   29.600        4  13.3200
9987  CA-2017-119914    5/4/2017    CC-12220  ...  243.160        2  72.9480

[6026 rows x 9 columns]

In [ ]:
df5=df[df['category']=='Furniture']
df5

            order_id  order_date customer_id  ...      sales quantity    profit
0     CA-2016-152156   11/8/2016    CG-12520  ...   261.9600        2   41.9136
1     CA-2016-152156   11/8/2016    CG-12520  ...   731.9400        3  219.5820
3     US-2015-108966  10/11/2015    SO-20335  ...   957.5775        5 -383.0310
5     CA-2014-115812    6/9/2014    BH-11710  ...    48.8600        7   14.1694
10    CA-2014-115812    6/9/2014    BH-11710  ...  1706.1840        9   85.3092
...              ...         ...         ...  ...        ...      ...       ...
9956  CA-2015-168088   3/19/2015    CM-12655  ...   383.4656        4  -67.6704
9958  CA-2016-146374   12/5/2016    HE-14800  ...    13.4000        1    6.4320
9974  US-2015-151435    9/6/2015    SW-20455  ...    85.9800        1   22.3548
9983  CA-2014-110422   1/21/2014    TB-21400  ...    25.2480        3    4.1028
9984  CA-2017-121258   2/26/2017    DB-13060  ...    91.9600        2   15.6332

[2121 rows x 9 columns]

In [ ]:
df6=df[df['category']=='Technology']
df6

            order_id  order_date customer_id  ...     sales quantity    profit
7     CA-2014-115812    6/9/2014    BH-11710  ...   907.152        6   90.7152
11    CA-2014-115812    6/9/2014    BH-11710  ...   911.424        4   68.3568
19    CA-2014-143336   8/27/2014    ZD-21925  ...   213.480        3   16.0110
26    CA-2016-121755   1/16/2016    EH-13945  ...    90.570        3   11.7741
35    CA-2016-117590   12/8/2016    GH-14485  ...  1097.544        7  123.4737
...              ...         ...         ...  ...       ...      ...       ...
9977  US-2016-157728   9/22/2016    RC-19960  ...    97.980        2   27.4344
9980  CA-2016-125794   9/29/2016    ML-17410  ...    36.240        1   15.2208
9981  CA-2017-163629  11/17/2017    RA-19885  ...    79.990        1   28.7964
9982  CA-2017-163629  11/17/2017    RA-19885  ...   206.100        5   55.6470
9985  CA-2017-121258   2/26/2017    DB-13060  ...   258.576        2   19.3932

[1841 rows x 9 columns]

In [ ]:
x = df4.sales.sum()
y = df5.sales.sum()
z = df6.sales.sum()
print('Office Supplies :',x)
print('Furniture :',y)
print('Technology :',z)
if z<y<x :
  print('Category Office Supplies adalah sales terbanyak yaitu:',x)
elif z<x<y :
  print('Category Furniture adalah sales tertinggi yaitu:',y)
else :
  print('Category Technology adalah sales tertinggi yaitu:',z)

Office Supplies : 719047.032
Furniture : 741999.7953
Technology : 755815.72
Category Technology adalah sales tertinggi yaitu: 755815.72

##3.Tentukan Sub-Category dengan quantity paling sedikit!

In [ ]:
df7=df[df['sub_category']=='Binders']
df8=df[df['sub_category']=='Paper']
df9=df[df['sub_category']=='Furnishings']
df10=df[df['sub_category']=='Phones']
df11=df[df['sub_category']=='Storage']
df12=df[df['sub_category']=='Art']
df13=df[df['sub_category']=='Accessories']
df14=df[df['sub_category']=='Chairs']
df15=df[df['sub_category']=='Appliances']
df16=df[df['sub_category']=='Labels']
df17=df[df['sub_category']=='Tables']
df18=df[df['sub_category']=='Envelopes']
df19=df[df['sub_category']=='Bookcases']
df20=df[df['sub_category']=='Fasteners']
df21=df[df['sub_category']=='Supplies']
df22=df[df['sub_category']=='Machines']
df23=df[df['sub_category']=='Copiers']

In [ ]:
a=df7.quantity.sum()
b=df8.quantity.sum()
c=df9.quantity.sum()
d=df10.quantity.sum()
e=df11.quantity.sum()
f=df12.quantity.sum()
g=df13.quantity.sum()
h=df14.quantity.sum()
i=df15.quantity.sum()
j=df16.quantity.sum()
k=df17.quantity.sum()
l=df18.quantity.sum()
m=df19.quantity.sum()
n=df20.quantity.sum()
o=df21.quantity.sum()
p=df22.quantity.sum()
q=df23.quantity.sum()
print('Binders :',a)
print('Paper :',b)
print('Furnishings :',c)
print('Phones:',d)
print('Storage :',e)
print('Art :',f)
print('Accessories :',g)
print('Chairs :',h)
print('Appliances :',i)
print('Labels :',j)
print('Tables :',k)
print('Envelopes :',l)
print('Bookcases:',m)
print('Fastener :',n)
print('Supplies :',o)
print('Machines :',p)
print('Copiers :',q)
if a>b>c>d>e>f>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Binders adalah quantity paling sedikit yaitu',a)
elif b>a>c>d>e>f>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Paper adalah quantity paling sedikit yaitu',b)
elif c>a>b>d>e>f>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Furnishings adalah quantity paling sedikit yaitu',c)
elif d>a>b>c>e>f>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Phones adalah quantity paling sedikit yaitu',d)
elif e>a>b>c>d>f>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Storages adalah quantity paling sedikit yaitu',e)
elif f>a>b>c>d>e>g>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Art adalah quantity paling sedikit yaitu',f)
elif g>a>b>c>d>e>f>h>i>j>k>l>m>n>o>p>q :
  print('Sub Category Accessories adalah quantity paling sedikit yaitu',g)
elif h>a>b>c>d>e>f>g>i>j>k>l>m>n>o>p>q :
  print('Sub Category Chairs adalah quantity paling sedikit yaitu',h)
elif i>a>b>c>d>e>f>g>h>j>k>l>m>n>o>p>q :
  print('Sub Category Appliances adalah quantity paling sedikit yaitu',i)
elif j>a>b>c>d>e>f>g>h>i>k>l>m>n>o>p>q :
  print('Sub Category Labels adalah quantity paling sedikit yaitu',j)
elif k>a>b>c>d>e>f>g>h>i>j>l>m>n>o>p>q :
  print('Sub Category Tables adalah quantity paling sedikit yaitu',k)
elif l>a>b>c>d>e>f>g>h>i>j>k>m>n>o>p>q :
  print('Sub Category Envelopes adalah quantity paling sedikit yaitu',l)
elif m>a>b>c>d>e>f>g>h>i>j>k>l>n>o>p>q :
  print('Sub Category Bookcases adalah quantity paling sedikit yaitu',m)
elif n>a>b>c>d>e>f>g>h>i>j>k>l>m>o>p>q :
  print('Sub Category Fasteners adalah quantity paling sedikit yaitu',n)
elif 0>a>b>c>d>e>f>g>h>i>j>k>l>m>n>p>q :
  print('Sub Category Supplies adalah quantity paling sedikit yaitu',o)
elif p>a>b>c>d>e>f>g>h>i>j>k>l>m>n>o>q :
  print('Sub Category Machines adalah quantity paling sedikit yaitu',p)
else :
  print('Sub Category Copiers adalah quantity paling sedikit yaitu',q)

Binders : 5974
Paper : 5178
Furnishings : 3563
Phones: 3289
Storage : 3158
Art : 3000
Accessories : 2976
Chairs : 2356
Appliances : 1729
Labels : 1400
Tables : 1241
Envelopes : 906
Bookcases: 868
Fastener : 914
Supplies : 647
Machines : 429
Copiers : 218
Sub Category Copiers adalah quantity paling sedikit yaitu 218